$bg-blue-color: #21419A;
$bg-primary: #00b18f;
$white: #ffffff;
$black: #000000;
$gray: #ddd;



@font-face {
    font-family: LatoRegular;
    src: url("../Assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: LatoBold;
    src: url("../Assets/fonts/Lato-Bold.ttf");
}



* {
    padding: 0px;
    margin: 0px;
    outline: none !important;

}

body {
    font-family: LatoRegular;

}

.widget {
    clear: both;
}

.block {
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.section-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// @media (min-width: 320px) {
//     .section-container {
//         width: 100%;
//     }
// }

@media (min-width: 576px) {
    .section-container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .section-container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .section-container {
        width: 960px;
    }
}

// @media (min-width: 1024px) {
//     .section-container {
//         width: 1200px;
//     }
// }

@media (min-width: 1200px) {
    .section-container {
        width: 1340px;
    }
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.text {
    font-size: 12px;
    text-transform: none;
    // margin-left: 2px;
}

.cursorP {
    cursor: pointer;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    // width: 100%;
    // max-width: 100% !important;
    // background: #fff;
    // top: 129px;
    // left: 0;
    // right: 0;
    // z-index: 889;
    // margin: 0 auto;
    // position: fixed !important;

}

.PDP {
    display: flex;
    flex-direction: column;
}

.PDP-info {
    display: flex;
    flex-direction: row;
    padding: 5% 15% 5% 15%;
    box-shadow: 1px 1px 1px 1px #000000;

}

.PDP-detail {
    display: flex;
    padding-left: 4%;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    h1 {
        color: #21419A;
    }

    input {
        margin-top: 5%;
        border: solid;
        border-color: #00b18f;
        border-radius: 15px;
        padding: 3%;
    }
}

.PDP-button-align {
    display: flex;
    width: 100%;
    align-items: end;
    padding: 10%;

    button {
        border: solid;
        border-color: #00b18f;
        padding:  0% 10% 0% 10%;
        border-radius: 5px;
    }
}

.PLP-suggestions {
    display: flex;
    width: 100%;
    


}

.PLP-card {
    width: 300px;
    margin: 5%;
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(47,47,47);
    background-color: #ddd;
    img {
        width: 100%;
    }
}

.PLP-button-align {
    width: 100%;
    display: flex;
    align-items: end;
    padding: 10%;

    button {
        border: solid;
        border-color: #00b18f;
        padding:  0% 10% 0% 10%;
        border-radius: 5px;
    }
}

.cart-card-detail {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.cart-card {
    display: flexbox;
    margin: 2% 1% 2% 1%;
    box-shadow: 1px 1px 1px 1px  rgb(48, 47, 47);
    flex-direction: column;
    width: 100%;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cart-header {
    width: 70%;
    text-align: center;
}

.cart-list {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.cart-detail {
    display: block;
    padding: 3%;
    block-size: 30%;
    box-shadow: 1px 1px 1px 1px  rgb(48, 47, 47);
    justify-content: center;
    text-align: start;
}
.cart-root{
    display: block;
    margin: 2.5%;
    padding: 2.5%;
    block-size: 30%;
    box-shadow:  2px 2px 2px 2px  rgb(48, 47, 47);
}

.button-div {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 20%;
    margin: 2%;

    button {
        border: solid;
        border-color: #00b18f;
        padding: 1% 10% 1% 10%;
        border-radius: 15px;
    }
}