$bg-blue-color: #21419A;
$bg-primary: #00b18f;
$white: #ffffff;
$black: #000000;
$gray: #ddd;



@font-face {
    font-family: LatoRegular;
    src: url("../Assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: LatoBold;
    src: url("../Assets/fonts/Lato-Bold.ttf");
}



* {
    padding: 0px;
    margin: 0px;
    outline: none !important;

}

body {
    font-family: LatoRegular;

}

.widget {
    clear: both;
}

.block {
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.section-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// @media (min-width: 320px) {
//     .section-container {
//         width: 100%;
//     }
// }

@media (min-width: 576px) {
    .section-container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .section-container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .section-container {
        width: 960px;
    }
}

// @media (min-width: 1024px) {
//     .section-container {
//         width: 1200px;
//     }
// }

@media (min-width: 1200px) {
    .section-container {
        width: 1340px;
    }
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.text {
    font-size: 12px;
    text-transform: none;
    // margin-left: 2px;
}

.cursorP {
    cursor: pointer;
}

.sticky-top {
    // position: -webkit-sticky;
    position: sticky;
    top: 0;

    // width: 100%;
    // max-width: 100% !important;
    // background: #fff;
    // top: 129px;
    // left: 0;
    // right: 0;
    // z-index: 889;
    // margin: 0 auto;
    // position: fixed !important;

}

.pdp {
    display: flex;
    flex-direction: column;
}

.pdp-info {
    display: flex;
    flex-direction: row;
    padding: 3% 70px;
    // box-shadow: 1px 1px 1px 1px #000000;

}

.pdp-detail {
    // display: flex;
    // margin-top: 2%;
    padding-left: 8%;
    flex-direction: column;
    // align-items: start;
    // justify-content: center;

    h1 {
        color: #000000;
        font-weight: 600;
    }

    h2 {
        color: #00b18f;
        margin: 4% 0;
        padding: 2% 0;
        font-size: medium;
    }

    input {
        margin-top: 5%;
        border: solid;
        border-color: #00b18f;
        border-radius: 15px;
        padding: 3%;
    }

    p {
        font-size: 14px;
    line-height: 28px;
    color: #363636;
    }

    .quantity {
        margin: 4% 0;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    padding: 4px 6px;
    }
}

.pdp-button-align {
    display: flex;
    width: 100%;
    // justify-content: center;
    // padding: 10%;

    button {
        border: solid;
        border-color: #00b18f;
        background-color: #00b18f;
        color: #ffffff;
        padding: 2% 10% 2% 10%;
        border-radius: 2px;
        font-weight: 600;
    }
}

.plp-suggestions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plp-card {
    margin: 24px 12px;
    box-shadow: rgb(149 157 165 / 20%) 0px 4px 14px;
    text-align: center;
    border-radius: 4px;
    display: block;
    width: 300px;

    h1 {
        margin-bottom: 10px;
        padding-top: 20px;
        font-weight: 600;
        min-height: 120px;

    }

    p {
        color: #000000;
    font-size: 16px;
    font-weight: 600;
    }

}

// .plp-suggestions {
//     display: flex;
//     width: 100%;
// }

// .plp-card {
//     width: 100%;
//     margin: 3%;
//     z-index: 1;
//     text-align: center;
//     box-shadow: 1px 1px 1px 0px rgb(47, 47, 47);
//     background-color: #ddd;
//     border-radius: 5px;
//     overflow: hidden;

//     img {
//         width: 100%;
//     }
// }

.pdp-img-selection {
    display: flex;
    flex-direction: column;
    margin: 2%;

    img {
        margin: 15%;
    }
}

.plp-button-align {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8%;

    button {
        border: solid;
        border-color: #00b18f;
        background-color: #00b18f;
        color: #ffffff;
        padding: 2% 10% 2% 10%;
        border-radius: 2px;
        font-weight: 600;
    }
}

.cart-card-detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bebebe;
    padding: 8px 6px;
    
    div{
        text-align: left;
        // width: 25%!important;
        width: 20%;
        margin: 1%;
    }
    h1 {
        align-self: center;
        color: #00b18f!important;
        
        
    }

    h2 {align-self: center;
        color: #00b18f;
        text-overflow: clip;
        font-size: 16px;
        
    }

    .quantity {
        align-self: center;
        height: fit-content;
        width: 100%;
        border: 1px solid #cbcbcb;
    border-radius: 2px;
    padding: 4px 6px;
    }
    h3{
        align-self: center;
        font-size: 12px;
        margin-bottom: 4px;
    }
}
.icon-button{
    width:10%!important;
}

.cart-card {
    display: flexbox;
    margin: 2% 2% 2% 2%;
    flex-direction: column;
    width: 100%;
}

.cart-card-root {
    display: flex;
    margin: 1% 0;
    flex-direction: row;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    // border-bottom: 1px solid #bebebe;
}

.card-img-div {
    border: hidden;
    overflow: hidden;
    display: flex!important;
    width: 17%!important;
    height: 100%!important;
    margin-left: 10px;
    

    img {
        align-self: center;
        border: hidden;
        border-radius: 5px;

    }
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 12px;
}

.cart-header {
    width: 70%;
    text-align: center;
}

.cart-list {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.cart-detail {
    display: block;
    padding: 3%;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 2px;
    padding: 14px 22px;

}
.cart-detail1 {
    display: block;
    padding: 3%;
    margin-top: 3%;
    width: 34%;
    justify-content: center;
    text-align: center;
}

.cart-root {
    display: block;
    margin: 2.5%;
    margin-top: 0%;
    padding: 2.5%;
    block-size: 30%;
    text-align: center;
    // background-color: #e7e7dd;
    background-color: #ffffff;

    h1 {
        font-size: 26px;
    color: #000;
    font-weight: 600;
    }
}

.button-div {
    width: 100%;
    // display: flex;
    // justify-content: center;
    margin-top: 24px;


    button {
        border: solid;
    border-color: #00b18f;
    background-color: #00b18f;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 2px;
    width: 100%;
    font-weight: 600;
    }
}
.button-div1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 6% 0 8%;

    button {
        border: solid;
        border-color: #00b18f;
        background-color: #00b18f;
        color: #ffffff;
        padding: 2% 10% 2% 10%;
        border-radius: 2px;
        width: 100%;
        margin: 0 10px;
        font-weight: 600;
    }
}

.quantity {
    display: flex;
    flex-direction: row-reverse;
    // border: solid;
    width: 100px!important;
    // border-color: #00b18f;
    // border-radius: 5px;
    overflow: hidden;

    button {
        width: 28%;
        border: #000000;
        margin: 2%;
        font-size: medium;
        font-weight: 600;
        color: #ffffff;
        background-color: #00b18f;
    }

    input {
        width: 33%;
        border-radius: 0%;
        border: none;
        text-align: center;
    }
}

.cart-dialog {
    position: absolute;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
    width: 30%;
    text-align: center;
    left:70%;
    top: 130px;
    opacity: 1;
    z-index: 10;
    overflow:hidden;
}
.root-div{
    box-shadow: inset;
    display: block;
    // border-bottom: solid;
    // border-color: #000000;
}
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

.order-summery{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 26px;
}
.div-order-summery{
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 14px;
    color: #21419A;
    padding: 8px 0;
    }
    p{
        font-size: 14px;
    padding: 8px 0;
    }
}
.border-total{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #bebebe;
    padding: 6px 0px;
}
.order-summery-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    padding: 40px 0;
    background-color: #fafbfd;
}
.order-summery-list{
    width: 30%;
    align-self: center;
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 2px 0px;
}
.order-summery-re{
    width:30%;
    align-self: center;
    padding-top: 20px;
}

.icon-button.icon-left {
    text-align: right;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

button.btn-icon-pd {
    font-size: 14px;
    padding: 1px;
    color: #545454;
}

button.btn-icon-pd:hover {
    color: #f30c0c;
}

.order-continue-btn {
    padding: 12px 16px;
    width: 30%;
    color: #fff;
    background-color:#bebebe;
    margin: 20px auto;
    border-radius: 2px;
}

.order-continue-btn button {
    font-size: 14px;
    font-weight: 600;
}

.order-continue-btn:hover {
    background-color:#38b18f;
}


// mini-cart-css-start

.mini-cart-summary-body {
    padding: 14px 10px;
}

.mini-cart-summary p {
    margin-bottom: 16px;
}

.mini-cart-total {
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    padding: 14px 0;
}

.mini-cart-total p {
    font-size: 16px;
    font-weight: 600;
}

.mini-cart-total h2 {
    font-size: 16px;
    font-weight: 600;
}

// mini-cart-css-end


// plp-page start

.plp-item {
    font-size: 18px;
}

.plp-sort {
    padding: 7px 52px 7px 12px;
    border-radius: 2px;
}

.plp-sort:focus {
    box-shadow: none;
    border: 1px solid #38b18f;
}

.btn-list, .btn-grid {
    border-radius: 2px;
}

.btn-list:focus, .btn-grid:focus {
    box-shadow: none;
}

a.title {
    font-size: 18px;
    font-weight: 600;
}

.badge-btn {
    border-radius: 2px;
}

.btn-cart {
    background-color: #38b18f;
    border-radius: 2px;
    border: 1px solid #38b18f;
    font-weight: 600;
}

.btn-cart:hover {
    background-color: #259d7b !important;
    border: 1px solid #259d7b !important;
}

.btn-cart:focus {
    box-shadow: none !important;
}

.page-item.active .page-view-link {
    background-color: #38b18f;
    border-color: #38b18f;
}

.page-view-link {
    color: #38b18f;
    border-radius: 2px;
}

.page-link {
    border-radius: 2px !important;
}

.page-link:focus {
    box-shadow: none;
}

.page-view-link:hover {
    color: #38b18f;
}

a.title:hover {
    color: #38b18f !important;
}

.form-search-list {
    border: 1px solid #bebebe;
}

.form-search-list:focus {
    border: 1px solid #38b18f;
    box-shadow: none;
}

.find-btn {
    border: 1px solid #bebebe;
    border-radius: 0 2px 2px 0;
}

.find-btn:focus {
    border: 1px solid #38b18f;
    box-shadow: none;
}

h6.title {
    font-size: 18px;
    font-weight: 600;
}

h6.title:hover {
    color: #38b18f;
}

.card-header a:hover {
    color: #38b18f;
}

.list-menu li {
    padding: 4px 0;   
}

.list-menu li a:hover {
    color: #38b18f !important;
}

.custom-control-input:checked ~ .custom-control-check::before {
    color: #fff;
    border-color: #38b18f;
    background-color: #38b18f;
}

.form-price-wid:focus {
    box-shadow: none;
    border: 1px solid #38b18f;
}

.filter-card {
    border-radius: 2px;
}

.btn-border {
    border-radius: 2px;
}

