.forgot-pass-content {
    background-color: #fafbfd;
    padding: 40px 20px;
} 

.forgot-pass-body-wrap {
    width: 50%;
    margin: 0 auto;
    padding: 30px 25px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
}

h1.password-heading{
    font-size: 26px;
    font-weight: 600;
}

.pass-form-block {
    margin-bottom: 18px;
}

.pass-padd {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #bebebe;
    border-radius: 2px;
}

button.pass-reset-link {
    background-color: #bebebe;
    width: 100%;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 18px;
}

button.pass-reset-link:hover {
    background-color: #38b18f;
}

a.reset-signup:hover {
    color: #38b18f;
}

.pass-padd:focus {
    box-shadow: none !important;
    border-color: #38b18f !important;
}