.orders-root{
    width:95%;
    h1{
        margin: 3% 5% 0% 0%;
    color: #000000;
    font-weight: 600;
    font-size: 28px;
    }
}
.orders-list{
    width:100%;
}

.button-div {
    width: 100%!important;
    display: flex;

    button {
        border: 1px solid #00b18f;
    background-color: #00b18f;
    color: #ffffff;
    border-radius: 2px;
    padding: 10px 22px;
    font-weight: 600;
    }
}