.orders-root{
    width:95%;
    h1{
        margin: 1% 5% 1% 5%;
        color: #21419A;
    }
}
.orders-list{
    width:70%;
}

.button-div2 {
    width: 100%!important;
    display: flex;

    button {
        align-self: center;
        width: max-content;
        border: solid;
        border-color: #00b18f;
        background-color: #00b18f;
        color: #ffffff;
        // padding: 1% 10% 1% 10%;
        border-radius: 15px;
    }
}